/* Font use gareyko */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); 
@import "tailwindcss";

*{
  font-family: Outfit;
}



/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body{
  min-height: 100vh;
} */